# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Django database
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*
!.env.example

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Static & media
staticfiles/
media/

# Python tooling
.mypy_cache/
.ruff_cache/

# Docker
*.pid